.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

.content {
    margin-top: 60px;
    /* Adjust this value to account for the height of the fixed header */
}

.container {
    /* General container styles */
}

.recruiter-page-container {
    padding-left: 20px;
    /* Adjust this value as needed */
}